In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

c:\python36\lib\importlib\_bootstrap.py:205: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
c:\python36\lib\importlib\_bootstrap.py:205: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
df=pd.read_csv("Desktop\\py-master\\py-master\\ML\\9_decision_tree\\Exercise\\titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
X=df.drop(["Survived",'Name','PassengerId','Cabin','Ticket'],axis=1)
y=df.Survived

In [4]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [5]:
X.Age.fillna(X.Age.median(),inplace=True)
X.Fare.fillna(X.Fare.median(),inplace=True)
X.Embarked.fillna(method='ffill',inplace=True)

In [6]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [7]:
le=LabelEncoder()

In [8]:
X["Sex_n"]=le.fit_transform(X['Sex'])
X["SibSp_n"]=le.fit_transform(X['SibSp'])
X["Parch_n"]=le.fit_transform(X['Parch'])
X["Embarked_n"]=le.fit_transform(X['Embarked'])

In [9]:
X.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Sex_n,SibSp_n,Parch_n,Embarked_n
0,3,male,22.0,1,0,7.2500,S,1,1,0,2
1,1,female,38.0,1,0,71.2833,C,0,1,0,0
2,3,female,26.0,0,0,7.9250,S,0,0,0,2
3,1,female,35.0,1,0,53.1000,S,0,1,0,2
4,3,male,35.0,0,0,8.0500,S,1,0,0,2

In [10]:
X.drop(['Sex','Parch','SibSp','Embarked'],axis=1,inplace=True)

In [11]:
X.head()

   Pclass   Age     Fare  Sex_n  SibSp_n  Parch_n  Embarked_n
0       3  22.0   7.2500      1        1        0           2
1       1  38.0  71.2833      0        1        0           0
2       3  26.0   7.9250      0        0        0           2
3       1  35.0  53.1000      0        1        0           2
4       3  35.0   8.0500      1        0        0           2

## Decision Tree Classifier

In [26]:
model=DecisionTreeClassifier()

In [27]:
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.25)

In [28]:
model.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [29]:
model.score(X_test,y_test)

0.7892376681614349

## Logistic Regression

In [30]:
mod2=LogisticRegression()

In [31]:
mod2.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
mod2.score(X_test,y_test)

0.7757847533632287

## Support Vector Machines

In [33]:
mod3=SVC()

In [34]:
mod3.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [35]:
mod3.score(X_test,y_test)

0.6636771300448431

## Random Forest Classifier

In [47]:
mod4=RandomForestClassifier(n_estimators=100)

In [48]:
mod4.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [49]:
mod4.score(X_test,y_test)

0.8116591928251121

## Naive Bayes

In [25]:
mod5=GaussianNB()

In [50]:
mod5.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [51]:
mod5.score(X_test,y_test)

0.7802690582959642

From the analysis we conclude that Random Forest Classifier fits the model best.